/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--text-color);
}
.svg-icon circle {
  stroke:var(--text-color);
  stroke-width: 1;
}


.svg-icon-button {
  width: 1.5em;
  height: 1.5em;
}
.svg-icon-button path,
.svg-icon-button polygon,
.svg-icon-button rect {
  fill: var(--button-text-color);
}
.svg-icon-button circle {
  stroke:var(--button-text-color);
  stroke-width: 1;
}


.svg-icon-titlebar {
    width: 1em;
    height: 1em;
  }
  .svg-icon-titlebar path,
  .svg-icon-titlebar polygon,
  .svg-icon-titlebar rect {
    fill: var(--emphasis-color-titlebar);
  }
  .svg-icon-titlebar circle {
    stroke:var(--emphasis-color-titlebar);
    stroke-width: 1;
  }


  .svg-icon-success {
    width: 2em;
    height: 2em;
  }
  .svg-icon-success path,
  .svg-icon-success polygon,
  .svg-icon-success rect {
    fill: var(--success-color);
  }
  .svg-icon-success circle {
    stroke: var(--success-color);
    stroke-width: 1;
  }

  
  .svg-icon-error {
    width: 2em;
    height: 2em;
  }
  .svg-icon-error path,
  .svg-icon-error polygon,
  .svg-icon-error rect {
    fill: var(--error-color);
  }
  .svg-icon-error circle {
    stroke: var(--error-color);
    stroke-width: 1;
  }