

  .changename {
    text-align: center;
    padding: 0px;
    margin: auto;
  }

  .changename form input {
    text-align: left;
    padding: 8px;
    margin: 5px;
    border: none;
    border-radius: 2px;
    font-size: 12pt;
    width: 10em;
  }

  .changenamebutton {
    background: var(--button-background);
    box-shadow: var(--button-box-shadow);
    border: none;
    border-radius: 2px;
    color: var(--button-text-color);
    /*font-weight: bold;*/
    margin: 5px;
    padding: 8px;
    font-size: 12pt;
    cursor: pointer;
  }

  .changenamebutton:hover {
    background: var(--button-hover-background);
  }
  .changenamebutton:active {
    background: var(--button-active-background);
    box-shadow: var(--button-box-shadow);
  }
  .changenamebutton:disabled {
    background: var(--button-disabled-background);
    cursor: default;
  }
  .changenamebutton:focus {
    outline: none;
  }