

  .actionbar {
    background: none;
    /*border: 1px solid #999;*/
    /*border-radius: 5px;*/
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .actionbutton {
    background: var(--button-background);
    box-shadow: var(--button-box-shadow);
    border: none;
    border-radius: 3px;
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*color: var(--button-text-color);*/
    margin: 5px;
    padding: 8px;
    display:inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .actionbutton:hover {
    background: var(--button-hover-background);
  }

  .actionbutton:active {
    background: var(--button-active-background);
    cursor: default;
  }
  .actionbutton:focus {
    outline: none;
  }

  .successbutton {
    background: var(--green-button-background);
    box-shadow: var(--button-box-shadow);
    border: none;
    border-radius: 3px;
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*color: var(--button-text-color);*/
    margin: 5px;
    padding: 8px;
    display:inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .successbutton:hover {
    background: var(--green-button-hover-background);
  }

  .successbutton:active {
    background: var(--green-button-active-background);
    cursor: default;
  }
  .successbutton:focus {
    outline: none;
  }
  


  .actionbutton svg, .successbutton svg {
    width: 18px;
    height: 18px;
    /*color: var(--button-text-color);*/
    vertical-align: middle;
    
  }

  .actionbutton span, .successbutton span {
    font-size: 14px;
    color: var(--button-text-color);
    margin: 0px;
    vertical-align: middle;
    
  }