

  .actionbar {
    background: none;
    /*border: 1px solid #999;*/
    /*border-radius: 5px;*/
    margin: 0px;
    padding: 0px;
  }

  .actionbutton {
    background: rgb(135, 206, 235);
    border: 1px solid rgb(77, 123, 143);
    border-radius: 3px;
    font-size: 14px;
    /*font-weight: bold;*/
    margin: 5px;
    padding: 5px;
  }

  .actionbutton:hover {
    background: rgb(113, 178, 204);
  }

  .actionbutton:active {
    background: rgb(77, 123, 143);
  }
  .actionbutton:focus {
    outline: none;
  }