

  .actionbar {
    background: none;
    /*border: 1px solid #999;*/
    /*border-radius: 5px;*/
    margin: auto;
    padding: 0px;
  }

  .actionbutton {
    background: var(--button-background);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    /*font-weight: bold;*/
    margin: 0px;
    padding: 8px;
    display:inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .actionbutton:hover {
    background: var(--button-hover-background);
  }

  .actionbutton:active {
    background: var(--button-active-background);
    cursor: default;
  }
  .actionbutton:focus {
    outline: none;
  }