

  .board {
    background: var(--board-color);
    /*border: 1px solid #999;*/
    border-radius: 3px;
    box-shadow: var(--panel-box-shadow);
    margin: 10px;
    padding: 0px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .boardtitle {
    
    margin: 0px;
    padding: 5px;
    flex-basis: 100%;
  }
