

  .game {
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-flow: column;
  }

  .game-currentturn {
    /*background: var(--current-turn-background);*/
    background: none;
    box-shadow: none;
    animation: currentturn-fade 2s both ;
  }

  @keyframes currentturn-fade {
    0% { box-shadow: 0px 0px 100px 50px var(--panel-emphasis-background-color) inset; }
    100% { box-shadow: 0px 0px 8px 2px var(--panel-emphasis-background-color) inset; }
  }

  .gameheader {
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .gamebody {
    text-align: center;
    padding: 0px;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*justify-content: center;
    align-items: center;
    align-content: center;*/
  }

  .gamemessage {
    background: none;
    /*border: 1px solid #999;*/
    /*border-radius: 5px;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    /*align-self: flex-end;*/
    flex-grow: 1;
  }

  .gamemessage-currentturn {
    font-weight: bold;
    /*color: var(--heading-color);*/
    /*text-shadow: 0px 0px 10px var(--panel-emphasis-background-color);*/
  }
  
  .gametimer {
    font-size: 10pt;
    color: var(--text-color);
    margin: 5px 5px 3px 5px;
    /*flex-grow: 1;*/
  }

  .message-and-actionbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-left: auto;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*flex-grow: 1;*/
  }

  .gamenote {
    text-align: center;
    font-size: 10pt;
    color: var(--note-color);
    padding-bottom: 10px;
    margin: 5px;
  }

  
  /*@media all and (min-width: 600px) {
    
  }*/
  
  /*@media all and (min-width: 800px) {
    .game {
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .gameheader {
      flex: 1 0 100px;
      flex-direction: column;
      flex-wrap: none;
    }
    
    .gamebody {
      flex: 8 1;
    }

    .gamenote {
      flex: 1 0 100%;
    }
  }*/