

  .rack {
    background: var(--rack-color);
    /*border: 1px solid #999;*/
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    /*float: left;*/
    margin: 10px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .racktitle {
    
    margin: 0px;
    padding: 5px;
    flex-basis: 100%;
  }