

  .set {
    background: var(--set-background-color);
    border: 1px solid var(--set-border-color); /*#999;*/
    border-radius: 5px;
    /*float: left;*/
    margin: 5px;
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .set:focus {
    outline: none;
  }

  /*.set:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 10px #000000aa;
  }*/

  .set-clickable {
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);*/
    cursor: pointer;
  }
  
  .set-clickable:hover {
    border: 1px solid var(--set-hover-color); /*#777;*/
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  .set-invalid {
    border: 1px solid var(--error-color);;
    background: rgba(255, 0, 0, 0.2);
  }

  .set-empty {
    border: 1px solid var(--set-empty-color); /*#eee;*/
    background: var(--set-empty-color); /*#eee;*/
    background-image: none;
  }

  .set-subscript {
    border: none;
    font-size: 10px;
    line-height: 10px;
    color: gray;
    padding: 0px;
    align-self: flex-end;
  }