

  .gamepage {
    margin: auto;
    max-width: 1032px;
    text-align: center;
    padding: 0px;
    
  }

  .note {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: gray;
    padding: 5px;
  }

  