

  .gamepage {
    margin: auto;
    max-width: 1032px;
    text-align: center;
    padding: 0px;
    
  }

  .note {
    text-align: center;
    font-size: 10pt;
    color: rgb(145, 166, 202);
    padding: 5px;
  }
  .note strong {
    color: white;
    font-weight: normal;
  }
  