

.landingpage {
  margin: auto;
  max-width: 1032px;
  text-align: center;
  padding: 0px;
}

.landingtitle {
  color: var(--title-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 30pt;
  font-weight: normal;
  text-align: center;
  padding: 0px;
}
.landingtitle i {
  color: var(--emphasis-color);
  font-size: 31pt;
  font-family: "Times New Roman", Times, serif; 
}

.landingbuttons {
  margin: auto;
  padding: 5px;
}
.landingbuttons span {
  padding: 10px;
  display:inline-block;
}

.bigbutton {
  background: var(--button-background);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 3px;
  width: 250px;
  height: 50px;
  color: black;
  font-size: 14pt;
  /*font-weight: bold;*/
  margin: auto;
  padding: 5px;
  vertical-align: middle;
}

.bigbutton:hover {
  background: var(--button-hover-background);
}

.bigbutton:active {
  background: var(--button-active-background);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.bigbutton:focus {
  outline: none;
}

.landingnote {
  text-align: center;
  color: var(--note-color);
  padding: 5px;
  margin-left: 15%;
  margin-right: 15%;
}