

  .profilepage {
    margin: auto;
    max-width: 1048px;
    text-align: center;
    padding: 0px;
  }

  .profilebox  {
    display: inline-block;
    background: var(--panel-background-color);
    border: none;
    border-radius: 3px;
    box-shadow: var(--panel-box-shadow);
    text-align: left;
    vertical-align: top;
    margin: 10px;
    padding: 15px;
  }

  .profilefooter {
    display: inline-block;
    font-size: 9pt;
    padding-bottom: 20px;
  }

  .profilefooter table td {
    text-align: left;
    padding: 3px;
  }