

  .board {
    background: white;
    /*border: 1px solid #999;*/
    border-radius: 3px;
    float: left;
    margin: 5px;
    padding: 5px;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

