

  .board {
    background: white;
    /*border: 1px solid #999;*/
    /*border-radius: 5px;*/
    float: left;
    margin: 0px;
    padding: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  