

  .game {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-content: center;
    align-items: center;
  }

  .note {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: gray;
    padding: 5px;
  }

  