

  .set {
    /*background: #f77;*/
    border: 1px solid #999;
    border-radius: 5px;
    float: left;
    margin: 10px;
    padding: 5px;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .set:focus {
    outline: none;
  }

  /*.set:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 10px #000000aa;
  }*/

  .clickable {
    cursor: pointer;
  }
  
  .clickable:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  }