

  .set {
    /*background: #f77;*/
    border: 1px solid #999;
    border-radius: 5px;
    float: left;
    margin: 10px;
    padding: 5px;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .set:focus {
    outline: none;
  }

  /*.set:hover {
    border: 1px solid black;
    box-shadow: 0px 0px 10px #000000aa;
  }*/

  .set-clickable {
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);*/
    cursor: pointer;
  }
  
  .set-clickable:hover {
    border: 1px solid #777;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  .set-invalid {
    border: 1px solid rgba(255, 0, 0, 1);
    background: rgba(255, 0, 0, 0.4);
  }

  .set-empty {
    border: 1px solid #eee;
    background: #eee;
    background-image: none;
  }
