

  .tile {
    background-image: linear-gradient(to bottom right, #eee, #ddd);
    /*background: rgb(230, 230, 230);*/
    border: 1px solid #aaa;
    border-radius: 3px;
    float: left;
    height: 60px;
    margin: 1px;
    padding: 0;
    width: 40px;
    align-content: center;
    /*box-shadow: 2px 2px 3px #00000033;*/

    /*transition: transform 0.5s ease-out;*/
  }

  .tile-text {
    position: relative;
    /*top: -8px;*/
    top: -4px;
    left: 3px;
    background-image: linear-gradient(to bottom right, #ddd, #eee);
    /*background: #eee;*/
    /*border: 1px solid #ddd;*/
    border: none;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    height: 32px;
    padding: 0;
    width: 32px;
  }

  .tile-empty {
    border: 1px solid #eee;
    background: #eee;
    background-image: none;
  }

  .tile-emptytext {
    border: none;
    background: #fff;
    font-size: 32px;
    color: #eee;
  }

  .tile:focus {
    outline: none;
  }

 /* .tile:hover {
    border: 1px solid #000;
    box-shadow: 0px 0px 5px #000000aa;
  }*/

  .tile-clickable {
    /*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);*/
    cursor: pointer;
  }

  .tile-clickable:hover {
    border: 1px solid #000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  }

  .tile-selected, .tile-selected:hover {
    border: 1px solid rgb(100, 200, 0);
    box-shadow: 0px 0px 5px rgba(100, 200, 0, 0.8);
    transform: scale(1.1)
  }

  .tile-moved {
    animation: drop-in 0.3s ease-in-out;
  }

  .tile-subscript {
    border: none;
    border-radius: 10px;
    font-size: 10px;
    line-height: 10px;
    color: gray;
    padding: 0;
  }

  .tile-black {
    color: black;
  }

  .tile-red {
    color: red;
  }

  .tile-blue {
    color: royalblue;
  }

  .tile-orange {
    color: darkorange;
  }

  
  @keyframes drop-in {
    0% {
      opacity: 50%;
      transform: scale(1.25);
    }

    100% {
      opacity: 100%;
      transform: scale(1);
    }
  }