

  .titlebarbg {
    background: var(--menu-background-color);
    width: 100%;
    overflow: hidden;
  }

  .titlebar {
    /*background: rgb(53, 63, 77);*/
    font-size: 12pt;
    margin: auto;
    max-width: 1032px;
    padding: 1px;
    overflow: hidden;
  }

  .menulink {
    color: var(--menu-text-color);
    float: left;
    padding: 5px;
    border-radius: 3px;
  }

  .userlink {
    color: var(--menu-text-color);
    float: right;
    padding: 5px;
    border-radius: 3px;
  }

  .menulink:hover, .userlink:hover {
    color: var(--menu-text-color);
    background: var(--menu-hover-background-color);
  }
  
  .menulink:active, .userlink:active {
    background: var(--menu-active-background-color);
  }

  .menulink img {
    /*float: left;*/
    padding-right: 5px;
    vertical-align: middle;
  }

  .userlink img {
    /*float: right;*/
    padding-left: 5px;
    vertical-align: middle;
  }

  .menulink span, .userlink span {
    vertical-align: middle;
  }
 
  .menulink i {
    color: var(--emphasis-color);
    font-size: 12.5pt;
    font-family: "Times New Roman", Times, serif; 
  }