

  .board {
    background: white;
    border: 1px solid #999;
    border-radius: 10px;
    float: left;
    margin: 10px;
    padding: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  