:root {  
  --body-background-color: rgb(40, 44, 52);
  --title-color: rgb(145, 166, 202);
  --heading-color: white;
  --text-color: rgb(145, 166, 202);
  --link-color: rgb(204, 175, 141);
  --link-hover-color: rgb(220, 150, 70);
  --note-color: rgb(145, 166, 202);

  --emphasis-color: rgb(204, 175, 141);

  --menu-background-color: rgb(46, 54, 66);
  --menu-text-color: rgb(145, 166, 202);
  --menu-hover-background-color: rgba(182, 202, 238, 0.1);
  --menu-active-background-color: rgba(182, 202, 238, 0.2);
  
  --button-background: rgb(135, 206, 235);
  --button-hover-background: rgb(113, 178, 204);
  --button-active-background: rgb(77, 123, 143);
  --button-disabled-background: rgb(81, 88, 104);

  --highlight-color: rgb(33, 160, 214);
  --highlight-fade-color: rgba(33, 160, 214, 0.5);
  
  --error-color: rgb(255, 80, 80);

  --success-color: rgb(80, 233, 80);


}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background-color);
  color: var(--text-color);
  font-size: 12pt;
}

h1, h2, h3 {
  color: var(--heading-color);
  font-weight: lighter;
}

h4, h5, h6 {
  color: var(--heading-color);
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: var(--error-color);
}